<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Site Metas -->
        <title>{% block title %}QuickCloud - Hosting Responsive HTML5 Template{% endblock %}</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Site Icons -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <!-- ALL VERSION CSS -->
        <link rel="stylesheet" href="{{ asset('css/versions.css') }}" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        
        {% block stylesheets %}{% endblock %}        

        <!-- Modernizer for Portfolio -->
        {# <script src="js/modernizer.js"></script> #}

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    
    <body class="host_version"> 	
        
        <!-- Start header -->
        <header class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <img src="images/logo.png" alt="" style="height:60px;width;60px;"/>
                    </a>
                    <div class="collapse navbar-collapse" id="navbars-host">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                         {% if is_granted('ROLE_USER') %}
                            <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/home"><span>API Dashboard</span></a></li>
                            <li><a class="hover-btn-new log" href="http://127.0.0.1:8000/logout"><span>Logout</span></a></li>
                         {% else %}
                            <li><a class="hover-btn-new log" href="http://127.0.0.1:8000/login"><span>Sign In</span></a></li>
                         {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->

        <div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" style="height:auto;">
    
        {% block body %}{% endblock %} 

        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>About US</h3>
                            </div>
                            <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                            <p>Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                        </div><!-- end clearfix -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Information Link</h3>
                            </div>
                            <ul class="footer-links">
                                <li><a href="https://skergoat.com">Home</a></li>
                                <li><a href="https://skergoat.com">About</a></li>
                                <li><a href="https://skergoat.com">Contact</a></li>
                            </ul><!-- end links -->
                        </div><!-- end clearfix -->
                    </div><!-- end col -->
                    
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="widget clearfix">
                            <div class="widget-title">
                                <h3>Contact Details</h3>
                            </div>

                            <ul class="footer-links">
                                <li><a href="mailto:#">kergoane@gmail.com</a></li>
                                <li><a href="#">https://skergoat.com</a></li>
                                <li>Ho Chi Minh City, Vietnam</li>
                                <li>+33 6 63 66 35 97</li>
                            </ul><!-- end links -->
                        </div><!-- end clearfix -->
                    </div><!-- end col -->
                    
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="footer-distributed">
                    <div class="footer-left">                   
                        <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Stephane Kergoat</a> Design By : <a href="https://html.design/">SK</a></p>
                    </div>
                </div>
            </div><!-- end container -->
        </div><!-- end copyrights -->

        <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
  
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>

            $("#get_token").submit(function(e) {

                e.preventDefault();

                var user = {"username" :"user", "password": "000"};

                $.ajax({
                    type: "POST",
                    url: "/api/login_check",
                    data :JSON.stringify(user),
                    success: function(data){ $("#token_response").append(JSON.stringify(data)); },
                    dataType: "json",
                    contentType: "application/json",
                });

            });
        
        </script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
